In [6]:
# Bài 1
numbers = {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5,
               'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9, 'X': 10}

input_number = input("- Enter number: ")

if input_number not in numbers.keys():
    print("Error")
else:
    print(numbers[input_number])

- Enter number: XI
Error

In [7]:
# Bài 2
numbers_2 = {'XI': 11, 'XII': 12, 'XIII': 13, 'XIV': 14, 'XV': 15,
                   'XVI': 16, 'XVII': 17, 'XVIII': 18, 'XIX': 19, 'XX': 20}


numbers.update(numbers_2)
print(numbers)

input_number = input("- Enter number: ")

if input_number not in numbers.keys():
    print("Error")
else:
    print(numbers[input_number])

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9, 'X': 10, 'XI': 11, 'XII': 12, 'XIII': 13, 'XIV': 14, 'XV': 15, 'XVI': 16, 'XVII': 17, 'XVIII': 18, 'XIX': 19, 'XX': 20}

In [8]:
# Bài 3
number_list = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X',
                 'XI', 'XII', 'XIII', 'XIV', 'XV', 'XVI', 'XVII', 'XVIII', 'XIX', 'XX']

dic = {}
i = 1

for number in number_list:
    dic.update({number : i})
    i = i + 1
    
print(dic)

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9, 'X': 10, 'XI': 11, 'XII': 12, 'XIII': 13, 'XIV': 14, 'XV': 15, 'XVI': 16, 'XVII': 17, 'XVIII': 18, 'XIX': 19, 'XX': 20}

In [16]:
# Bài 4
students = [{'firstName': 'Nikki', 'lastName': 'Roysden'},
            {'firstName': 'Mervin', 'lastName': 'Friedland'},
            {'firstName': 'Aron', 'lastName': 'Wilkins'}]

print("List of Students: ")
for student in students:
    #print(student)
    print(f"- {student['firstName']} {student['lastName']}")

List of Students:
- Nikki Roysden
- Mervin Friedland
- Aron Wilkins

In [24]:
# Bài 5
names = {
  'students': [
    {'firstName': 'Nikki', 'lastName': 'Roysden'},
    {'firstName': 'Mervin', 'lastName': 'Friedland'},
    {'firstName': 'Aron', 'lastName': 'Wilkins'}
  ],
  'teachers': [
    {'firstName': 'Amberly', 'lastName': 'Calico'},
    {'firstName': 'Regine', 'lastName': 'Agtarap'}
  ]
}

lst_students = names["students"]
print("List of students: ")
for student in lst_students:
    print(f"- {student['firstName']} {student['lastName']}")
    
lst_teachers = names["teachers"]
print("List of teachers: ")
for teachers in lst_teachers:
    print(f"- {teachers['firstName']} {teachers['lastName']}")

List of students:
- Nikki Roysden
- Mervin Friedland
- Aron Wilkins
List of teachers:
- Amberly Calico
- Regine Agtarap

In [26]:
# Bài 6

string = input("Enter string: ")  #ABACD

dic = {}       # {"A": 2, "B": 1}        

for char in string:
    if char not in dic.keys():
        dic[char] = 1
    else:
        dic[char] = dic[char] + 1
        
print(dic)

Enter string: Binh Binh    Binh
{'B': 3, 'i': 3, 'n': 3, 'h': 3, ' ': 5}