In [6]:
import pandas as pd 

lst = [5, 6.0, 7]
sr = pd.Series(lst, [1, 2, 3])

print(sr)

1    5.0
2    6.0
3    7.0
dtype: float64

In [12]:
lst = ["Nam Anh", "Bình", "Hùng"]

dic = {
    "Số nguyên dương" : pd.Series([1, 2, 3, 4, 5]),
    "Số nguyên tố" : pd.Series([2, 3, 5, 7, 11]),
    "Số chính phương" : pd.Series([1, 4, 9, 16, 25])
}

df = pd.DataFrame(dic)

# ghi dữ liệu ra file excel 
df.to_excel("numbers.xlsx", index = False)

print(df)

# install openpyxl    -> pip install openpyxl

   Số nguyên dương  Số nguyên tố  Số chính phương
0                1             2                1
1                2             3                4
2                3             5                9
3                4             7               16
4                5            11               25

In [14]:
df1 = pd.read_excel("numbers.xlsx")
print(df1)

   Số nguyên dương  Số nguyên tố  Số chính phương
0                1             2                1
1                2             3                4
2                3             5                9
3                4             7               16
4                5            11               25

In [18]:
import pandas as pd 

df = pd.read_excel("trending_football_players.xlsx")
df

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,€39.5M,€10K,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,€2.2M,€22K,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,€7M,€32K,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,€24M,€9K,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,€31.5M,€28K,1944
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,San Román,https://cdn.sofifa.net/players/242/802/24_60.png,25,Spain,['GK'],68,73,Elche,2023 ~ 2025,€1.4M,€3K,964
2996,D. Afolayan,https://cdn.sofifa.net/players/242/946/24_60.png,25,England,"['LM', 'CF']",70,71,St. Pauli,2023 ~ 2026,€1.9M,€10K,1843
2997,F. Hornby,https://cdn.sofifa.net/players/242/965/24_60.png,23,Scotland,['ST'],69,76,Darmstadt 98,2023 ~ 2027,€2.8M,€11K,1629
2998,Klauss,https://cdn.sofifa.net/players/242/998/24_60.png,26,Brazil,['ST'],74,77,Saint Louis City,2022 ~ 2025,€5.5M,€9K,1808
2999,T. Băluță,https://cdn.sofifa.net/players/243/019/24_60.png,24,Romania,"['CDM', 'CM']",70,74,SSC Farul,2022 ~ 2024,€2.1M,€6K,1782

In [20]:
df.head(5)

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,€39.5M,€10K,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,€2.2M,€22K,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,€7M,€32K,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,€24M,€9K,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,€31.5M,€28K,1944

In [28]:
d1 = df[100:200]   # truy vấn theo vùng 
d2 = df["Player_name"]  # truy vấn 1 cột 
d3 = df[["Player_name", "National_team", "Overall"]]   # truy vấn nhiều cột
d3

         Player_name National_team  Overall
0          T. Almada     Argentina       79
1           L. Palma      Honduras       69
2           R. Lavia       Belgium       73
3     W. Zaïre-Emery        France       77
4        Gabri Veiga         Spain       78
...              ...           ...      ...
2995       San Román         Spain       68
2996     D. Afolayan       England       70
2997       F. Hornby      Scotland       69
2998          Klauss        Brazil       74
2999       T. Băluță       Romania       70

[3000 rows x 3 columns]

In [64]:
# lấy ra cột Player_name với 100 cầu thủ ban đầu 
# cách 1: sử dụng truy vấn bình thường
d4 = df["Player_name"][0:100]

# cách 2.1: sử dụng hàm loc[]
d5 = df.loc[0:100  ,  ["Player_name", "National_team"] ]

# cách 2.2: sử dụng hàm iloc[]
d6 = df.iloc[0:100 ,  [0, 3]]
d6  

# truy vấn ô: dòng x cột
d7 = df.iloc[  0  ,  3  ]
d7 

# vòng lặp for 
for i in range(len(df)):    # vòng lặp duyệt từng dòng trong bảng 
    name = df.iloc[ i  , 0]     # lấy ra ô tên 
    national_team = df.iloc[i, 3]    # lấy ra quốc tịch 
    overall = df.loc[i, "Overall"]
    if "Son" in name:
        print(i, name, overall)

310 H. Son 87
1300 M. Sonko 61
1377 M. Sonko 61

In [63]:
# Bước 1: lấy ra cột TRUE/FALSE theo điều kiện
check1 = df["Overall"] > 85

# Bước 2: Sử dụng cú pháp loc[], iloc[] -> Điều kiện nằm ở dòng
d9 = df.loc[check1,  : ]
d9

              Player_name  Overall
9           J. Bellingham       87
11       K. Kvaratskhelia       86
21             J. Musiala       86
32             N. Barella       86
39      Cristiano Ronaldo       86
41             E. Haaland       91
43              K. Mbappé       91
44            F. Valverde       88
56            Rafael Leão       86
62                H. Kane       90
66             V. Osimhen       88
70               L. Messi       90
77              R. Araujo       86
82    T. Alexander-Arnold       86
94           A. Griezmann       88
103               B. Saka       86
121              Vini Jr.       89
128             Neymar Jr       89
130           M. Ødegaard       87
139                 Pedri       86
150            O. Dembélé       86
181        R. Lewandowski       90
184          João Cancelo       86
188            O. Dembélé       86
199             L. Modrić       87
200          K. De Bruyne       91
222          Éder Militão       86
241                Parejo       86
242            J. Kimmich       88
274              G. Kobel       87
300                Parejo       86
303            J. Kimmich       88
304            M. Maignan       87
308           L. Martínez       87
310                H. Son       87
313             P. Dybala       86
319            F. de Jong       87
360            K. Benzema       90
366              Casemiro       88
368            Marquinhos       87
370       Bruno Fernandes       88
371              N. Kanté       86
378                 Rodri       89
379             C. Nkunku       86
430              N. Kanté       86
543            K. Benzema       90
608               S. Mané       86
652             S. Tonali       86
723           V. van Dijk       89
782              M. Neuer       87
785           İ. Gündoğan       86
790           23\n De Gea       87
967           İ. Gündoğan       86
975           M. Verratti       86
979           V. van Dijk       89
1269             M. Neuer       87
1627       22\n S. Agüero       87
1633             M. Neuer       87
2201              Alisson       89
2339        M. ter Stegen       89

In [80]:
# Đưa ra danh sách các cầu thủ có quốc tịch là Spain và Overall > 80

# cách 1: dùng for 
for i in range(len(df)):
    name = df.iloc[i, 0]
    national = df.iloc[i, 3]
    overall = df.iloc[i, 5]

    if "Spain" in national and overall > 80:
        #print(f"{i}. {name}, {national}, {overall}")
        pass
    
# cách 2: điều kiện trực tiếp
check2 = df["National_team"] == "Spain"
check3 = df["Overall"] > 80

df10 = df.loc[check2 & check3, ["Player_name", "National_team", "Overall"]]

df10.to_excel("loc_players_Vinh.xlsx", index = False)

In [81]:
df["National_team"].value_counts()

National_team
England                     327
Spain                       288
France                      231
Germany                     198
Brazil                      157
                           ...
Costa Rica                    1
Lithuania                     1
Central African Republic      1
Liberia                       1
South Africa                  1
Name: count, Length: 112, dtype: int64